/*
.gradebook .category {
  text-align: left;
  padding-right: 1em;
  border-right: 3px solid #ccc;
  border-bottom: none;
  background: #F0F0F0;
}
*/
.gradebook  .exempt, .gradebook  .exempt a {
  text-decoration: line-through;
  color: #AA0000;
}